/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-bg-color: #fe0065;
  --secondary-bg-color: #f2f2f2;
  --green-font: rgb(222, 251, 177);
  --secondary-screen-bg-color: #9e9d9d;
  --main-buttons-color: #585858;
  --square-buttons-color: #7ca9f7;
}

#allPokemon {
  align-items: left;
}

ul {
  list-style: inside square;
}

#photoList {
  list-style: inside none;

}

#photoList li {
  display: inline;
}

li {
  line-height: 1.2;
}

#background {
  background-repeat: no-repeat;
  width:'100vw'; 
  height: 100vh;
  background-size: contain;
  margin: 0px;
}

#pokemonImg {
  width: 9rem;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;
}

/* pokedex */

h1 {
  font-family:'Press Start 2P', cursive;
}

#pokedexLogo {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-self: center;
  margin: 1rem;
  margin-right: 3rem;
}

#logoImg {
  width: 500px;
}
#pokedex {
  height: 800px;
  width: calc(400px * 2);
  font-family:'Press Start 2P', cursive;
  font-size: .7rem;
  display: grid;

  padding-block: 2rem;
  border-radius: 5px rgb(129, 196, 41);
  background-repeat: no-repeat;
  width:'100vw'; 
  height: 100vh;
  background-size: contain;
  margin: 1px;  
  grid-template-columns: 82px 25px 80px 48px 36px 28px 32px 32px 120px 118px 20px 118px;
  grid-template-rows: 138px 18px 92px 18px 40px 36px 38px 34px 26px 8px 40px 8px;
}

#mainScreen {
grid-column: 2 / 8;
grid-row: 2 / 6;
align-self: center;
justify-self: center;
}

#nameScreen {
  grid-column: 3 / 5;
  grid-row: 10 / 13;
  align-self: center;
  justify-self: center;
}

#heightScreen {
  grid-column: 10 / 11;
  grid-row: 11 / 12;
  align-self: center;
  justify-self: center;
  color: var(--green-font);
  font-size: .55rem;
}

#weightScreen {
  grid-column: 12 / 13;
  grid-row: 11 / 12;
  align-self: center;
  justify-self: center;
  color: var(--green-font);
  font-size: .55rem;
}

#typeScreen {
  grid-column: 10 / 11;
  grid-row: 3 / 4;
  /* align-self: center; */
  justify-self: center;
  color: var(--green-font);
}

#weaknessScreen {
  grid-column: 11 / 13;
  grid-row: 3 / 4;
  justify-self: center;
  font-size: .7rem;
  color: var(--green-font);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

#dirPadRight {
  grid-column: 8 / 9;
  grid-row: 9 / 10;
  justify-self: center;
}

#dirPadRightButton {
  width: 36px;
  height: 30px;
}

#dirPadLeft {
  grid-column: 6 / 7;
  grid-row: 9 / 10;
  justify-self: center;
}

#dirPadLeftButton {
  width: 36px;
  height: 30px;
}

#dirPadUp {
  grid-column: 7 / 8;
  grid-row: 8 / 9;
  justify-self: center;
  align-content: space-around;
}

#dirPadUpButton {
  width: 30px;
  height: 36px;
  display: flex;
  align-self: bottom;
}

#dirPadDown {
  grid-column: 7 / 8;
  grid-row: 10 / 12;
  justify-self: center;
}

#dirPadDownButton {
  width: 30px;
  height: 36px;
}

#homeButtonDiv {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}

#homeButton {
  width: 65px;
  height: 50px;
}

/* @media only screen and (max-width: 600px) {
  #pokedex {
    width: 90%;
  }
} */
