@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --charcoal-font: rgb(50, 50, 50);
  --green-font: rgb(222, 251, 177);
}

* {
  font-family:'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;
}

ul {
  list-style: inside square;
}

li {
  line-height: 1.2;
}

/* -- LOGO -- */

#pokedexLogo {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-self: center;
  margin: 3.1rem 3rem 2rem 2rem;
}

/* -- HOME PAGE -- */

#homePage {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  line-height: 1.5;
}

#byJupiter {
  text-align: center;
}

/* -- POKEMON POSTER PAGE -- */

#allPokemon {
  align-items: left;
  max-width: 1126px;
}


#photoList {
  list-style: inside none;

}

#photoList li {
  display: inline;
}

/* pokedex */

#background {
  background-repeat: no-repeat;
  width:'100vw'; 
  height: 100vh;
  background-size: contain;
  margin: 0px;
}

#screenImg {
  width: 9rem;
}

#logoImg {
  width: 500px;
}
#pokedex {
  width: calc(400px * 2);
  font-size: .7rem;
  display: grid;
  background-repeat: no-repeat;
  background-size: contain;
  grid-template-columns: 82px 25px 80px 48px 36px 28px 32px 32px 120px 118px 20px 118px;
  grid-template-rows: 170px 18px 92px 18px 40px 36px 38px 34px 26px 8px 40px 8px 44px;
}

#mainScreen {
grid-column: 2 / 8;
grid-row: 2 / 6;
align-self: center;
justify-self: center;
}

#nameScreen {
  grid-column: 3 / 5;
  grid-row: 10 / 13;
  align-self: center;
  justify-self: center;
  color: var(--charcoal-font);
}

#heightScreen {
  grid-column: 10 / 11;
  grid-row: 11 / 12;
  align-self: center;
  justify-self: center;
  color: var(--green-font);
  font-size: .55rem;
}

#weightScreen {
  grid-column: 12 / 13;
  grid-row: 11 / 12;
  align-self: center;
  justify-self: center;
  color: var(--green-font);
  font-size: .55rem;
}

#typeScreen {
  grid-column: 10 / 11;
  grid-row: 3 / 4;
  color: var(--green-font);
  padding-left: 13px;
}

#weaknessScreen {
  grid-column: 11 / 13;
  grid-row: 3 / 4;
  color: var(--green-font);
  padding-left: 15px;
}

/* --INVISIBLE BUTTONS-- */

.invisible-button {
  background-color: transparent;
  outline: none;
  border: none;
}

#dirPadRight {
  grid-column: 8 / 9;
  grid-row: 9 / 10;
  justify-self: center;
}

#dirPadRightButton {
  width: 36px;
  height: 30px;
}

#dirPadLeft {
  grid-column: 6 / 7;
  grid-row: 9 / 10;
  justify-self: center;
}

#dirPadLeftButton {
  width: 36px;
  height: 30px;
}

#dirPadUp {
  grid-column: 7 / 8;
  grid-row: 8 / 9;
  justify-self: center;
  align-content: space-around;
}

#dirPadUpButton {
  width: 30px;
  height: 36px;
  display: flex;
  align-self: bottom;
}

#dirPadDown {
  grid-column: 7 / 8;
  grid-row: 10 / 12;
  justify-self: center;
}

#dirPadDownButton {
  width: 30px;
  height: 36px;
}

#randomButtonDiv {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  justify-self: center;
}

#randomButton {
  width: 70px;
  height: 80px;
}

@media only screen and (max-width: 600px) {



  body, #searchType, #searchWeaknesses {
    font-size: .7rem;
  }

  #logoImg {
    width: 250px;
  }

  #pokedex {
    width: 400px;
    font-size: .3rem;
    grid-template-columns: 41px 12.5px 40px 24px 18px 14px 16px 16px 60px 59px 10px 59px 30px;
    grid-template-rows: 85px 9px 46px 9px 20px 18px 19px 17px 13px 4px 20px 4px 22px;
  }
  .pokemonImg {
    width: 4.5rem;

  }

  #heightScreen, #weightScreen {
    font-size: .25rem;
  } 

  #dirPadRightButton, #dirPadLeftButton {
    width: 18px;
    height: 15px;
  }

  #dirPadUpButton, #dirPadDownButton {
    width: 16px;
    height: 18px;
  }
  
  #randomButton {
    width: 35px;
    height: 40px;
  }

}
